<footer class="footer">
    <div class="container grid footer-body">
        <div class="footer-column footer-address">
            <h4>Footer Contacts</h4>
        </div>
        <div class="footer-column footer-navs">
            <h4>Useful Links</h4>
        </div>
        <div class="footer-column form-leave-msg">
            <h4>Leave Us a message</h4>
        </div>
    </div>
    <div class="copyright flex">
        <p><span class="hl-g copyright-sign">&copy;</span> Group 538<span class="hl-g">.</span></p>
    </div>
</footer>