<nav class="navbar">
    <div class="logo">
        <a href="#"><h2><span class="logo-school-text">School</span><span class="logo-mate-text">Mate</span></h2></a>
    </div>
    <div class="navbar-menu-items {% if hide_menu %}hide-menu{% endif %}">
        <ul class="navbar-menu-list">
            <li class="list-item"><a href="#">Hostels</a></li>
            <li class="list-item"><a href="#">About Us</a></li>
            <li class="list-item"><a href="#">Blog</a></li>
            <li class="list-item"><a href="#">FAQ</a></li>
            <li class="list-item"><a href="#">Contact Us</a></li>
            <!-- <li class="list-item"><a href="#">Account</a></li> -->
            <!-- <li class="list-item">Account
                <ul class="account-sub-list">
                    <li class="sign-in"><a href="#">Sign In</a></li>
                    <li class="Register"><a href="#">Register</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</nav>