<nav class="navbar">
    <div class="logo">
        <a href="{% url "homepage" %}"><h2><span class="logo-school-text">School</span><span class="logo-mate-text">Mate</span></h2></a>
    </div>
    <div class="navbar-menu-items {% if hide_menu %}hide-menu{% endif %}">
        <ul class="navbar-menu-list">
            <li class="list-item"><a href="#">Hostels</a></li>
            <li class="list-item"><a href="#">About Us</a></li>
            <li class="list-item"><a href="#">Blog</a></li>
            <li class="list-item"><a href="#">FAQ</a></li>
            <li class="list-item"><a href="#">Contact Us</a></li>
            {% if user.is_authenticated %}
                <li class="list-item"><a href="{% url "logout" %}">Sign out</a></li>
            {% else %}
                <li class="list-item"><a href="{% url "login" %}">Sign in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>