<div class="nav-container">
    <div class="logo" id="logo">
            <!-- <img src="" id="logo-image" alt="logo"> -->
            <div class="logo-text">
                <a href="{% url 'dashboard' %}"><span class="school-title" id="school-title">School</span><span class="mate-title" id="mate-title">Mate</span></a>
            </div>
    </div>
    <div class="nav-items">
        <ul class="nav-menu-items">
            <li class="nav-list-item" id="hostels-list-item">Hostels</li>
            <li class="nav-list-item" id="about-list-item">About Us</li>
            <li class="nav-list-item" id="blog-list-item">Blog</li>
            <li class="nav-list-item" id="faq-list-item">FAQ</li>
            <li class="nav-list-item" id="contact-list-item">Contact Us</li>
            <li class="nav-list-item" id="account-list-item">Account</li>
        </ul>
    </div>
</div>