{% load static %}

<div class="showcase">
    <img src="{% static 'images/showcase.jpeg' %}" alt="showcase.jpeg">
    <div class="overlay"></div>
    <div class="overlay-content">
        <h1>Just leave us your specs!</h1>
        <p>We will find you a match.</p>
        <div class="call-to-action flex">
            <div class="cta-btn">
                <a href="{% url 'search-hostel' %}"><span>Search Hostel</span></a>
            </div>
            <div class="cta-btn">
                <a href="{% url 'register' %}"><span>Setup Hostel</span></a>
            </div>
        </div>
    </div>
</div>