<div class="mv-container container">
    <div class="vision-and-mission grid">
        <div class="vision mv">
            <h2>Vission</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam repellendus maxime dolorem consequuntur, magnam temporibus accusamus exercitationem est error, ipsam eum fugiat amet ut incidunt sit dolore quia deserunt. Autem!
            Amet distinctio impedit exercitationem laboriosam veniam mollitia deserunt, nulla sit omnis et quibusdam dicta tenetur repudiandae quaerat inventore nihil officiis voluptates officia esse atque eius assumenda dolorum sequi. Quod, ipsa!</p>
        </div>
        <div class="mission mv">
            <h2>Mission</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quasi at quae veniam eos, earum similique minus nobis tenetur facilis, voluptas exercitationem officiis et molestias architecto ipsam dolorem repudiandae eveniet.
            Autem, cupiditate natus! Aut nulla alias nobis repellat laudantium. Unde asperiores recusandae voluptate odit quo, voluptatibus distinctio est ratione dolorum repellendus debitis totam, officiis excepturi provident repudiandae temporibus sapiente eos.</p>
        </div>
    </div>
</div>