{% extends "partials/base.html" %}

{% block content %}
    <h1>Document Verification Approval</h1>
    <table class="table">
        <thead>
            <th>Poperty ID</th>
            <th>Uploaded On</th>
            <th>Last Updated</th>
            <th>Verified?</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            {% for docver in documentverifications %}
                <tr>
                    <td>{{docver.application_id}}</td>
                    <td>{{docver.upload_date}}</td>
                    <td>{{docver.updated_on}}</td>
                    <td>{{docver.property_verified}}</td>
                    <td><form action="{% url 'update-verification' docver.application_id %}" method="post">{% csrf_token %}{{update_form}}<input type="submit" value="Update"></form></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}