{% extends "partials/base.html" %}

{% block content %}
    <div class="page-content">
        <div class="row grid">
            <!-- Filter Panel -->
            <form action="" method="get">
                <div class="filter-panel">
                    <h5>Filters</h5>
                    <!-- price range -->
                    <div class="filter-item price-range">
                        <h6>Price Range</h6>
                        <input type="range" name="priceRange" id="priceRange" min="100"> 
                        <span class="slider-max-value" id="slider-max-value"></span>
                    </div>
                    <!-- room type options -->
                    <div class="filter-item room-type">
                        <h6>Room Type</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="roomType1" value="single" id="singleRoom">
                            <label for="singleRoom" class="form-check-label">Single</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="roomType2" value="shared" id="sharedRoom">
                            <label for="sharedRoom" class="form-check-label">Shared</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="roomType3" value="family" id="familyRoom">
                            <label for="familyRoom" class="form-check-label">Family</label>
                        </div>
                    </div>
                    <!-- City options -->
                    <div class="filter-item city">
                        <h6>Location</h6>
                        <select name="city" id="city">
                            <option value="all">All</option>
                            <option value="accra">Accra</option>
                            <option value="kumasi">Kumasi</option>
                            <option value="takoradi">Takoradi</option>
                            <option value="koforidua">Koforidua</option>
                            <option value="tamale">Tamale</option>
                        </select>
                    </div>
                    <!-- Amenities options -->
                    <div class="filter-item amenities">
                        <h6>Amenities</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="amenities1" value="studyRoom" id="studyRoom">
                            <label for="studyRoom" class="form-check-label">Study Room</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="amenities2" value="Wifi" id="Wifi">
                            <label for="freeWifi" class="form-check-label">WiFi</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="amenities3" value="wheelchairAccessible" id="wheelchairAccessible">
                            <label for="wheelchairAccessible" class="form-check-label">Wheelchair Accessible</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="amenities4" value="smokingAllowed" id="smokingAllowed">
                            <label for="smokingAllowed" class="form-check-label">Smoking Allowed</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="amenities5" value="parkingSpace" id="parkingSpace">
                            <label for="parkingSpace" class="form-check-label">Parking Space</label>
                        </div>
                    </div>
                    <!-- search button -->
                     <div class="search-hostel-btn">
                        <input type="submit" value="Search">
                     </div>
                </div>
            </form>
            <div class="listings-panel">

            </div>
        </div>
    </div>
{% endblock content %}