{% extends "partials/base.html" %}

{% block content %}
    <h1>Employee List</h1>
    <table class="table">
        <thead>
            <th>EMP. ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>ASSIGNED ROLE</th>
            <th>UPDATE ROLE</th>
        </thead>
        <tbody>
            {% if employees %}
                {% for employee in employees %}
                    <tr>
                        <td>{{employee.employee_id}}</td>
                        <td>{{employee}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.phone}}</td>
                        <td>
                            {% comment %} {{employee.hostel}} {% endcomment %}
                            {{employee.hostel_role}}
                        </td>
                        <td>
                            <form action="{% url 'update-role' %}" method="post">
                                {% csrf_token %}
                                {{ role_assign_form }}
                                <input type="hidden" name="upd_employee_id" value="{{employee.employee_id}}">
                                {% comment %} <input type="hidden" name="form_type" value="change_role"> {% endcomment %}
                                <input type="submit" value="Update">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr colspan="5">No employee found</tr>
            {% endif %}
        </tbody>
    </table>
{% endblock content %}