
<div class="content-area flex">
    <div class="welcome-buttons-group grid">

        <div class="row grid">
                <div class="welcome-button" id="btn-register-hostel">
                    <p class="welcome-button-icon">
                        <i class="fas fa-home"></i>
                    </p>
                    Register Hostel
                </div>
            
                <div class="welcome-button disable" id="btn-configure-hostel">
                    <p class="welcome-button-icon">
                        <i class="fas fa-gear"></i>
                    </p>
                    Configure Hostel
                </div>
            
        </div>
        <div class="row grid">
                <div class="welcome-button disable" id="btn-upload-images">
                    <p class="welcome-button-icon">
                        <i class="fas fa-upload"></i>
                    </p>
                    Upload Images
                </div>
            
                <div class="welcome-button disable" id="btn-add-map-info">
                    <p class="welcome-button-icon">
                        <i class="fas fa-map-marker"></i>
                    </p>
                    Add Map Info
                </div>
            
        </div>
    </div>
</div>