{% extends "partials/base.html" %}

{% block content %}
    {% include "partials/navbar.html" %}
    <div class="page-banner">
        <div class="banner-layer"></div>
        <div class="banner-call-button">
            <div class="btn-banner-call">
                <button id="btn-banner-call">
                    <span class="banner-call-message">Setup your Hostel on <span class="logo-text"><span class="school-title">School</span><span class="mate-title">Mate</span></span>
                </button>
            </div>
        </div>
    </div>

    <div class="about-us">
        <h5>About <span class="logo-text"><span class="school-title">School</span><span class="mate-title">Mate</span>

        </h5>
    </div>
{% endblock content %}