{% extends "partials/base.html" %}

{% block content %}
    {% include "partials/navbar.html" %}
    <div class="page-banner">
        <div class="banner-layer"></div>
        <div class="banner-call-button">
            <div class="btn-banner-call">
                <button id="btn-banner-call">
                    <span class="banner-call-message">Setup your Hostel on <span class="logo-text"><span class="school-title">School</span><span class="mate-title">Mate</span></span>
                </button>
            </div>
        </div>
    </div>

    <div class="about-us">
        <h5>About <span class="logo-text"><span class="school-title">School</span><span class="mate-title">Mate</span>

        </h5>
    </div>
{% endblock content %}

<div class="nav-container">
    <div class="logo" id="logo">
            <!-- <img src="" id="logo-image" alt="logo"> -->
            <div class="logo-text">
                <a href="{% url 'dashboard' %}"><span class="school-title" id="school-title">School</span><span class="mate-title" id="mate-title">Mate</span></a>
            </div>
    </div>
    <div class="nav-items">
        <ul class="nav-menu-items">
            <li class="nav-list-item" id="hostels-list-item">Hostels</li>
            <li class="nav-list-item" id="about-list-item">About Us</li>
            <li class="nav-list-item" id="blog-list-item">Blog</li>
            <li class="nav-list-item" id="faq-list-item">FAQ</li>
            <li class="nav-list-item" id="contact-list-item">Contact Us</li>
            <li class="nav-list-item" id="account-list-item">Account</li>
        </ul>
    </div>
</div>
