{% extends "partials/base.html" %}

{% block content %}
    <!-- Navbar -->
    {% include "partials/navbar.html" %}

    <!--  -->
    <div class="banner">
        <div class="banner-image">
            <div class="mission">
                <h1 class="mission-title">Our Mission</h1>
                <div class="mission-statement">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio quasi nihil modi fugiat consequatur sint recusandae, obcaecati minus est aperiam quis animi totam libero corporis sunt debitis dolores deserunt pariatur?</div>
            </div>
        </div>
        <div class="container">
            <div class="banner-message">
                <div class="banner-column banner-column-owner">
                    <h1 class="border-bottom-5">Hostel Owners</h1>
                    <p>
                        Join over <span class="hostel-count">49</span> hostels and setup your hostel in simple, easy steps.
                    </p>
                    <div class="btn">
                        <a href="{% url "create-hostel" %}">Setup your hostel <span class="highlight-gold-bold">Now!</span></a>
                    </div>
                </div>
                <div class="banner-column banner-column-student">
                    <h1 class="border-bottom-5">Students</h1>
                    <p>
                        Select as many hostels in just a single application.<br> 
                        Review offers from different hostels. <br>
                        Pick your best offer.
                        <div class="btn">
                            <!-- <a href="#">Apply to your <span class="highlight-gold-bold">favorite</span> hostels</a> -->
                            <button class="open-mod-roomtype" id="open-mod-roomtype">Apply to your <span class="highlight-gold-bold">favorite</span> hostels</button>
                        </div>
                    </p>
                </div>
                <div class="banner-column banner-column-perks">
                    <h1 class="border-bottom-5">Perks</h1>
                    <ul class="perks-list">
                        <li class="perks-list-item"><i class="fa fa-star" aria-hidden="true"></i>Free for first 6 months.</li>
                        <!-- <li class="perks-list-item"><i class="fa fa-star" aria-hidden="true"></i>Easy accomodation application with multiple hostel selection.</li> -->
                        <li class="perks-list-item"><i class="fa fa-star" aria-hidden="true"></i>24/7 support for new hostels for the first 1 month.</li>
                        <li class="perks-list-item"><i class="fa fa-star" aria-hidden="true"></i>Rich list of features for students including student events, job & internship opportunity listings, etc.</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Select room type modal -->
        <div class="mod-roomtype" id="mod-roomtype">
            <div class="mod-roomtype-content">
                <div class="header flex spc-between">
                    <h1>Select Room Type</h1>
                    <span class="mod-roomtype-close">&times;</span>
                </div>
                <div class="body grid col-3">
                    <div class="btn btn2 bdr-2-gold single">
                        <a href="{% url 'search-hostel' 'single' %}">Single</a>
                    </div>
                    <div class="btn btn2 bdr-2-gold shared">
                        <a href="{% url 'search-hostel' 'shared' %}">Shared</a>
                    </div>
                    <div class="btn btn2 bdr-2-gold all">
                        <a href="{% url 'search-hostel' 'all' %}">All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include "partials/footer.html" %}
{% endblock content %}
